.main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0;
}

.grid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 50px;
    margin: 0;
    background-color: cornflowerblue;
}